.main-footer {
    color: white;
    background-color: #212529;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .center{
    display: table-cell;
  vertical-align: middle;
  }
  .link{
    text-decoration: none;
    color: white;
  }

  .link:hover{
      color: white;
  }