.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background{  
  background: rgb(83,3,3);
  background: radial-gradient(circle, rgba(83,3,3,1) 0%, rgba(1,1,13,1) 70%);
  color: white;
} 

.carousel {
  width:auto;
  height:750px;
  margin: auto;
  overflow: hidden;
}

.carouselImage{
  width:100%;
  height: 640px;
}

#navsearch{
  padding-right: 20px;
}

#navlogo{
  padding-left: 20px;
}

img.movie{  
  width: 294px;
  height: 436px;
  filter: drop-shadow(0rem 0rem 0.6rem  rgba(245, 245, 245, 0.8));
}